.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 70px;
    box-shadow: -1px 2px 26px -2px rgba(0,0,0,1);
 -webkit-box-shadow: -1px 2px 26px -2px rgba(0,0,0,1);
 -moz-box-shadow: -1px 2px 26px -2px rgba(0,0,0,1);
}

.nav img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 80px;
    height: 100px;
}

.info{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.btn{
    width: 150px;
    height: 30px;
    background: white;
    margin-right: 20px;
    transition: 1.5s, background, 1.5s;
}

.btn:hover{
  background: black;
  color: white;
}
